@{
  Layout = "_Layout";
}

@using Dialog.Models;

<div class="options">
  <div class="back-to-feed">
    <a href="/topics/@Model.ThisTopic.Id/0">
      <div class="cta">Back to topic</div>
      <div class="icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    </a>
  </div>
  <form class="search" id="search">
    <div class="InputAddOn-Search">
      <input type="text" class="search-text-input" id="search-text-input" placeholder="Search">
      <span class="InputAddOn-item"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></span>
    </div>
  </form>
  <div class="new-dialog">
    <a href="/topics/@Model.ThisTopic.Id/threads/new">
      <div class="cta">New dialog</div>
      <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
  </div>
</div>

<div class="original-post-wrap">
  <div class="post-info">
    <div class="author-wrap">
    </div>
    <div class="details-wrap">
      <div class="author-name">
        <h3>@( (Model.OriginalPost.Author.Length < 1) ? "Anonymous  #" + Model.OriginalPost.Id : Model.OriginalPost.Author)</h3>
      </div>
      <div class="stats">
        <p> @(Model.ThisThread.CountPosts() - 1) replies</p>
      </div>
      <div class="time-of-post">
        <p>Posted: 3/7/17 <br> 4PM EST</p>
      </div>
    </div>
  </div>
  <div class="subject-message">
    <h2> @Model.OriginalPost.Subject </h2>
    <p>
      @Model.OriginalPost.Message
    </p>
  </div>
</div>

<div class="reply-action-wrap">
  <div class="add-reply">
    <div class="reply-input-wrap hide">
      <div class="avatar">
      </div>
      <div class="reply-form" id="reply-form">
        <input type="text" name="author" id="reply-author" value="">
        <input class="reply-input" id="reply-input">
        <button type="button" name="button" class="reply">Reply</button>
      </div>
    </div>
  </div>
  <div class="sort-by">
    <h3>Sort by</h3>
    <ul class="hide">
      <li>Most Recent</li>
      <li>Most Helpful</li>
      <li>Oldest</li>
    </ul>
  </div>
</div>

@* Test Div - Color Palette *@
<div class="color-wrap">
  <div class="box" id="one">
  </div>
  <div class="box" id="two">
  </div>
  <div class="box" id="three">
  </div>
  <div class="box" id="four">
  </div>
  <div class="box" id="five">
  </div>
  <div class="box" id="six">
  </div>
  <div class="box" id="seven">
  </div>
  <div class="box" id="eight">
  </div>
  <div class="box" id="nine">
  </div>
</div>



<div class="reply-output-wrap">
  <div class="sample-output">
    <div class="user-wrap">
      <div class="avatar">
      </div>
      <div class="author">
      </div>
    </div>
    <div class="time">
    </div>
    <div class="content">
    </div>
    <div class="feedback-sharing">
    </div>
  </div>
</div>
