@{
  Layout = "_Layout";
}

<div class="options">
  <div class="back-to-feed">
    <div class="cta">
      Back to feed icon
    </div>
    <div class="icon">

    </div>
  </div>
  <form class="search" id="search">
    <div class="InputAddOn-Search">
      <input type="text" class="search-text-input" id="search-text-input" placeholder="Search">
      <span class="InputAddOn-item"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <!-- <button type="button" name="button">Search icon</button>-->
  </form>
  <div class="create-post">
    <div class="new-dialog">
      <div class="cta">
        New dialog
      </div>
      <div class="icon">
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
</div>

<div class="original-post-wrap">
  <div class="subject-headline">
    <h2>Original thread topic goes here</h2>
  </div>
  <div class="subject-wrap">
    <div class="stats">
      <h2>20 views</h2>
    </div>
    <div class="author-wrap">
    </div>
    <div class="time-of-post">
      <p>Poster Mar 7th 2017, 4 PM ESTA</p>
    </div>
  </div>
  <div class="subject-message">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</div>

<div class="reply-action-wrap">
  <div class="add-reply">
    <div class="reply-input-wrap hide">
      <div class="avatar">
      </div>
      <div class="reply-form" id="reply-form">
        <input type="text" name="author" id="reply-author" value="">
        <input class="reply-input" id="reply-input">
        <button type="button" name="button" class="reply">Reply</button>
      </div>
    </div>
  </div>
  <div class="sort-by">
    <h3>Sort by</h3>
    <ul class="hide">
      <li>Most Recent</li>
      <li>Most Helpful</li>
      <li>Oldest</li>
    </ul>
  </div>
</div>

@* Test Div - Color Palette *@
<div class="color-wrap">
  <div class="box" id="one">
  </div>
  <div class="box" id="two">
  </div>
  <div class="box" id="three">
  </div>
  <div class="box" id="four">
  </div>
  <div class="box" id="five">
  </div>
  <div class="box" id="six">
  </div>
  <div class="box" id="seven">
  </div>
  <div class="box" id="eight">
  </div>
  <div class="box" id="nine">
  </div>
</div>



<div class="reply-output-wrap">
  <div class="sample-output">
    <div class="user-wrap">
      <div class="avatar">
      </div>
      <div class="author">
      </div>
    </div>
    <div class="time">
    </div>
    <div class="content">
    </div>
    <div class="feedback-sharing">
    </div>
  </div>
</div>
