@{
  Layout = "_Layout";
}

@using Dialog.Models;

<div class="options">
  <div class="back-to-feed">
    <a href="/#">
      <div class="cta">Back to Index</div>
      <div class="icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    </a>
  </div>
  <form class="search" id="search">
    <div class="InputAddOn-Search">
      <input type="text" class="search-text-input" id="search-text-input" placeholder="Search">
      <span class="InputAddOn-item"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></span>
    </div>
  </form>
  <div class="new-dialog">
    <a href="/topics/new">
      <div class="cta">New Topic</div>
      <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
  </div>
</div>

@if (Model.Count < 1) {
  <h2>No Topics</h2>
}
else
{
  foreach(Topic topic in Model)
  {
    <div class = "topic-button">
      <a href="/topics/@topic.Id/0"><h2>@topic.Name</h2></a>
    </div>
  }
}
