@{
  Layout = "_Layout";
}

@using Dialog.Models;

<div class="options">
  <div class="back-to-feed">
    <a href="/">
      <div class="cta">Back to topics</div>
      <div class="icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    </a>
  </div>
  <form class="search" id="search">
    <div class="InputAddOn-Search">
      <input type="text" class="search-text-input" id="search-text-input" placeholder="Search Topic">
      <span class="InputAddOn-item"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></span>
    </div>
  </form>
  <div class="new-dialog">
    <a href="/topics/@Model.ThisTopic.Id/threads/new">
      <div class="cta">New dialog</div>
      <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
  </div>
</div>

@if (Model.Threads.Count < 1) {
  <h2>No Dialogs</h2>
}
else
{
  foreach(Thread thread in Model.Threads)
  {
    <div class = "topic-button">
      <a href="/topics/@Model.ThisTopic.Id/threads/@thread.Id/0"><h2>@thread.GetOriginalPost().Subject</h2></a>
    </div>
  }
}
