@import url("https://fonts.googleapis.com/css?family=Istok+Web|Lato:900");
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif; }

p, pre {
  font-family: 'Istok Web', sans-serif; }

pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap; }

a {
  text-decoration: none; }

.new-dialog a, .back-to-feed a {
  height: 40px;
  border-radius: 2px;
  box-shadow: 2px 2px 3px #d3d3d3;
  border: 0px solid transparent;
  display: flex;
  min-width: 140px;
  justify-content: space-between;
  align-items: center;
  background-color: #2F4D50;
  color: white; }
  .new-dialog a .cta, .back-to-feed a .cta {
    flex: 1;
    padding: 0px 15px;
    align-self: center;
    font-size: 16px;
    text-align: center; }
  .new-dialog a .icon, .back-to-feed a .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #FB3F1D; }
    .new-dialog a .icon i, .back-to-feed a .icon i {
      display: flex;
      padding: 0px;
      align-items: center;
      font-size: 16px;
      border: 0px; }

.back-to-feed a {
  flex-direction: row-reverse; }

button:focus {
  border: auto;
  outline: none; }

.reply-form {
  width: 90%;
  margin: auto;
  padding: 20px;
  border-top: 1px solid white; }
  .reply-form h4 {
    text-align: center; }
  .reply-form form {
    display: flex;
    flex-wrap: wrap; }
    .reply-form form button {
      height: 40px;
      background-color: #2F4D50;
      border-radius: 2px;
      border: none;
      box-shadow: none;
      color: white;
      font-size: 14px;
      line-height: 0;
      padding: 5px;
      align-self: center;
      margin: 20px auto;
      width: 32%; }
    .reply-form form .form-group {
      margin-bottom: 10px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      min-width: 33%; }
      .reply-form form .form-group input {
        height: 40px;
        width: 100%;
        padding: 5px;
        margin: 5px; }
      .reply-form form .form-group textarea {
        height: 40px;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px; }
    .reply-form form #text-area {
      height: 100px;
      width: 100%; }

#new-thread {
  margin-top: 20px; }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #eee;
  font-family: sans-serif; }

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none; }
  ul li {
    padding: 20px; }
    ul li a {
      color: inherit; }

.hide {
  display: none; }

.masthead-wrap {
  background-color: #1A292C;
  color: white; }
  .masthead-wrap .header-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 150px;
    margin: auto; }
    .masthead-wrap .header-wrap .logo a {
      text-decoration: none;
      color: white; }
    .masthead-wrap .header-wrap .navigation a {
      text-decoration: none;
      font-size: 15px; }
      .masthead-wrap .header-wrap .navigation a:hover {
        text-decoration: underline;
        color: white; }

.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 1000px;
  min-height: calc(100% - 250px);
  margin: auto;
  background-color: #eee; }
  .content-wrap .category {
    background: linear-gradient(90deg, transparent, white, transparent);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #eee; }
  .content-wrap .topic-button {
    background: linear-gradient(90deg, transparent, white, transparent);
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: #eee; }
    .content-wrap .topic-button a {
      color: inherit;
      text-decoration: none; }
      .content-wrap .topic-button a:hover {
        text-decoration: underline; }
  .content-wrap .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    min-height: 100px;
    padding: 0px 20px; }
    .content-wrap .options .InputAddOn-Search {
      display: flex;
      max-width: 300px;
      height: 40px; }
      .content-wrap .options .InputAddOn-Search ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #c1c1c1; }
      .content-wrap .options .InputAddOn-Search ::-moz-placeholder {
        /* Firefox 19+ */
        color: #c1c1c1; }
      .content-wrap .options .InputAddOn-Search :-ms-input-placeholder {
        /* IE 10+ */
        color: #c1c1c1; }
      .content-wrap .options .InputAddOn-Search :-moz-placeholder {
        /* Firefox 18- */
        color: #c1c1c1; }
      .content-wrap .options .InputAddOn-Search input[type=text]:focus {
        border: 1px inset #6B8E9D;
        outline: 0 none; }
      .content-wrap .options .InputAddOn-Search .search-text-input {
        flex: 1;
        padding: 0.5em 0.75em;
        font-size: 14px; }
      .content-wrap .options .InputAddOn-Search .InputAddOn-item {
        display: flex;
        align-items: center;
        background-color: #2F4D50;
        padding: 0.5em 0.75em;
        color: white; }
      .content-wrap .options .InputAddOn-Search a {
        color: white;
        text-decoration: none; }
  .content-wrap .original-post-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 50px 20px 30px 20px;
    box-shadow: 2px 2px 5px grey; }
    .content-wrap .original-post-wrap .post-info {
      min-width: 150px;
      max-width: 200px;
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #2F4D50;
      padding: 90px 20px 20px 20px;
      color: white; }
      .content-wrap .original-post-wrap .post-info .author-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100px;
        height: 100px;
        position: absolute;
        top: -30px;
        left: auto;
        right: auto;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid #6B8E9D;
        box-shadow: 2px 3px 3px #1A292C; }
        .content-wrap .original-post-wrap .post-info .author-wrap img {
          display: inline;
          margin: 0 auto;
          width: 100%; }
      .content-wrap .original-post-wrap .post-info .details-wrap .author-name, .content-wrap .original-post-wrap .post-info .details-wrap .stats, .content-wrap .original-post-wrap .post-info .details-wrap .time-of-post {
        padding-bottom: 10px; }

.subject-message {
  min-width: 0;
  height: auto;
  margin: 20px 20px 20px 30px;
  align-self: center; }
  .subject-message h2 {
    padding-bottom: 20px; }

.reply-wrap {
  box-shadow: 2px 2px 5px grey;
  min-height: 200px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 50px 30px 50px; }
  .reply-wrap .post-info {
    min-width: 150px;
    max-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #6B8E9D;
    padding: 90px 20px 20px 20px;
    color: white; }
    .reply-wrap .post-info .author-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -30px;
      left: auto;
      right: auto;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      border: 5px solid #2F4D50;
      box-shadow: 2px 3px 3px #1A292C; }
      .reply-wrap .post-info .author-wrap img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto; }
    .reply-wrap .post-info .details-wrap .author-name, .reply-wrap .post-info .details-wrap .stats, .reply-wrap .post-info .details-wrap .time-of-post {
      padding-bottom: 10px; }
  .reply-wrap .subject-message {
    margin: 20px 20px 20px 30px;
    align-self: center; }
    .reply-wrap .subject-message h2 {
      padding-bottom: 20px; }

.reply-wrap:nth-child(odd) .post-info {
  background-color: #586a72; }

.footer-wrap {
  background-color: #404040;
  color: white; }
  .footer-wrap .footer-container-wrap {
    height: 100px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .footer-wrap .navigation {
    background-color: #404040;
    height: auto; }
    .footer-wrap .navigation a {
      text-decoration: none;
      font-size: 12px; }
      .footer-wrap .navigation a:hover {
        text-decoration: underline;
        color: white; }
  .footer-wrap .social a:hover {
    color: #6B8E9D; }
  .footer-wrap .legal {
    font-size: 14px;
    color: #eeeeee; }

@media screen and (max-width: 400px) {
  .content-wrap {
    width: 100%; } }
@media screen and (max-width: 500px) {
  .reply-wrap {
    flex-direction: column; }
    .reply-wrap .post-info {
      flex-basis: auto;
      max-width: 100%;
      justify-content: center; }
      .reply-wrap .post-info .details-wrap {
        align-self: center;
        max-width: 100%;
        text-align: center; }

  .content-wrap .original-post-wrap {
    display: flex;
    flex-direction: column; }
    .content-wrap .original-post-wrap .post-info {
      flex-basis: auto;
      max-width: 100%;
      justify-content: center; }
      .content-wrap .original-post-wrap .post-info .details-wrap {
        align-self: center;
        max-width: 100%;
        text-align: center; } }
@media screen and (max-width: 520px) {
  .content-wrap .options {
    flex-direction: column;
    justify-content: center;
    padding: 20px; } }
@media screen and (max-width: 600px) {
  .content-wrap .options {
    justify-content: center;
    padding: 20px; }
    .content-wrap .options .InputAddOn-Search {
      order: 3;
      max-width: auto;
      min-width: 220px;
      align-self: center;
      margin: 10px; }
    .content-wrap .options .new-dialog, .content-wrap .options .back-to-feed {
      min-width: 220px;
      margin: 10px;
      order: -1; } }
@media screen and (max-width: 1000px) {
  .header-wrap {
    width: calc(100% - 4em); } }

/*# sourceMappingURL=styles.css.map */
