<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dialog thread page examples</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/13b9fb7a75.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    @Html.Partial("Header")
    <div class="content-wrap">
    @RenderBody()
    </div>
    @Html.Partial("Footer")
  </body>
</html>
