<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dialog thread page examples</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/13b9fb7a75.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <div class="masthead-wrap">
      <div class="header-wrap">
        <div class="logo">
          <h1><a href="#" target="_blank">dialog</a></h1>
        </div>
        <div class="navigation" id="navigation">
          <ul>
            <li><a href="#" target="_blank">ABOUT</a></li>
            <li><a href="#" target="_blank">LOG IN</a></li>
            <li><a href="#" target="_blank">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-wrap">
    @RenderBody()
    </div>
    <div class="footer-wrap">
      <div class="footer-container-wrap">
        <div class="navigation">
          <ul>
            <li><a href="#" target="_blank">ABOUT</a></li>
            <li><a href="#" target="_blank">LOG IN</a></li>
            <li><a href="#" target="_blank">CONTACT</a></li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="legal">
          <p class="legal">Created by Epicodus students 2017</p>
        </div>
      </div>
    </div>
  </body>
</html>
