<div class="masthead-wrap">
  <div class="header-wrap">
    <div class="logo">
      <h1><a href="#" target="_blank">dialog</a></h1>
    </div>
    <div class="navigation" id="navigation">
      <ul>
        <li><a href="#" target="_blank">ABOUT</a></li>
        <li><a href="#" target="_blank">LOG IN</a></li>
        <li><a href="#" target="_blank">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
