//all buttons

a {
  text-decoration: none;
}

.new-dialog, .back-to-feed {
  a {height: 40px;
  border-radius: 2px;
  box-shadow: 2px 2px 3px #d3d3d3;
  border: 0px solid transparent;
  display: flex;
  min-width: 140px;
  justify-content: space-between;
  align-items: center;
  background-color:#2F4D50;
  color: white;

  .cta {
    flex: 1;
    padding: 0px 15px;
    align-self: center;
    font-size: 16px;
    text-align: center;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: $red;
    i {
      display: flex;
      padding: 0px;
      align-items: center;
      font-size: 16px;
      border: 0px;
    }
  }
  }
}

.back-to-feed a {
  flex-direction: row-reverse;
}

button:focus {
  border: auto;
  outline: none;
}

.reply-form {
  width: 90%;
  margin: auto;
  padding: 20px;
  border-top: 1px solid white;
  h4 {
    text-align: center;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    button {
      height: 40px;
      background-color: $lightBlueGrey;
      border-radius: 2px;
      border: none;
      box-shadow: none;
      color: white;
      font-size: 14px;
      line-height: 0;
      padding: 5px;
      align-self: center;
      margin: 20px auto;
      width: 32%;
    }
    .form-group {
      margin-bottom: 10px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      min-width: 33%;
      input {
        height: 40px;
        width: 100%;
        padding: 5px;
        margin: 5px;
      }
      textarea {
        height: 40px;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    #text-area {
      height: 100px;
      width: 100%;
    }
  }
}

@mixin input-color {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $lightGrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
  color: $lightGrey;
  }
  :-ms-input-placeholder { /* IE 10+ */
  color: $lightGrey;
  }
  :-moz-placeholder { /* Firefox 18- */
  color: $lightGrey;
  }
}

@mixin Search-icon       {
  .InputAddOn-item {
        display: flex;
        align-items: center;
        background-color: $lightBlueGrey;
        padding: 0.5em 0.75em;
        color: white;
      }
}
