*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: honeydew;
}

.masthead-wrap {
  width: 100%;
}

.content-wrap {
  width: 1000px;
  height: calc(100% - 400px);
  padding: 10px;
  margin: auto;
  background-color: green;
}

.navigation {
  width: 1000px;
  height: 200px;
  margin: auto;
  background-color: lightblue;
}

.footer {
  height: 200px;
}

@media screen and (max-width: 400px) {
  .content-wrap {
    width: 100%;
  }
}
