*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}

ul {
  @include flex-row-around;
  justify-content: flex-start;
  list-style-type: none;
  li {
    padding: 20px;
    a {
      color: inherit;
    }
  }
}


.hide {
  display: none;
}


.masthead-wrap {
  background-color: #1A292C;
  color: white;
  .header-wrap {
    @include flex-row-between;
    max-width: 1000px;
    height: 150px;
    margin: auto;
    .logo a {
      text-decoration: none;
      color: white;
    }
    .navigation {
      a {
        text-decoration: none;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
    }
  }
}

.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 1000px;
  min-height: calc(100% - 250px);
  margin: auto;
  background-color: #eee;
  .category {
    background: linear-gradient(90deg, transparent, white, transparent);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #eee;
  }
  .options {
    @include flex-row-between;
    background-color: #eee;
    min-height: 100px;
    padding: 0px 20px;
    .InputAddOn-Search {
      display: flex;
      max-width: 300px;
      height: 40px;
      @include input-color;
      input[type=text]:focus {
        border: 1px inset $green1;
        outline: 0 none;
      }
      .search-text-input {
        flex: 1;
        padding: 0.5em 0.75em;
        font-size: 14px;
      }
      @include Search-icon;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .original-post-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 50px 20px 30px 20px;
    box-shadow: 2px 2px 5px grey;
    .post-info {
      min-width: 150px;
      max-width: 200px;
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $lightBlueGrey;
      padding: 90px 20px 20px 20px;
      color: white;
      .author-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100px;
        height: 100px;
        position: absolute;
        top: -30px;
        left: auto;
        right: auto;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid $blueGrey;
        box-shadow: 2px 3px 3px $darkBlueGrey;
        img {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
          }
        }
      .details-wrap {
        .author-name, .stats, .time-of-post {
          padding-bottom: 10px;
        }
      }
    }
    .subject-message {
      margin: 20px 20px 20px 30px;
      align-self: center;
      h2 {
        padding-bottom: 20px;
      }
      }
    }
  }

.reply-wrap {
  box-shadow: 2px 2px 5px grey;
  min-height: 200px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 50px 30px 50px;
  .post-info {
    min-width: 150px;
    max-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $blueGrey;
    padding: 90px 20px 20px 20px;
    color: white;
    .author-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -30px;
      left: auto;
      right: auto;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      border: 5px solid $lightBlueGrey;
      box-shadow: 2px 3px 3px $darkBlueGrey;
      img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
        }
      }
    .details-wrap {
      .author-name, .stats, .time-of-post {
        padding-bottom: 10px;
      }
    }
  }
  .subject-message {
    margin: 20px 20px 20px 30px;
    align-self: center;
    h2 {
      padding-bottom: 20px;
    }
    }
  }

.reply-wrap:nth-child(odd) {
  .post-info {
    background-color: #586a72;
  }
}

.footer-wrap {
  background-color: $darkGrey;
  color: white;
  .footer-container-wrap {
    height: 100px;
    max-width: 1000px;
    margin: auto;
    @include flex-row-around;
    }
    .navigation {
      background-color: $darkGrey;
      height: auto;
      a {
        text-decoration: none;
        font-size: 12px;
        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
    }
    .social {
      a:hover {
        color: $blueGrey;
      }
    }
    .legal {
      font-size: 14px;
      color: $lightishGrey;
    }
  }


@media screen and (max-width: 400px) {
  .content-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header-wrap {
    width: calc(100% - 4em);
  }
}
