*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  @include light-grey-gr;
  font-family: sans-serif;
}

ul {
  @include flex-row-around;
  justify-content: flex-start;
  list-style-type: none;
  li {
    padding: 20px;
    a {
      color: inherit;
    }
  }
}

.hide {
  display: none;
}


.masthead-wrap {
  background-color: $green1;
  color: white;
  .header-wrap {
    @include flex-row-between;
    max-width: 1000px;
    height: 150px;
    margin: auto;
  }
}

.content-wrap {
  max-width: 1000px;
  height: calc(100% - 250px);
  margin: auto;
  background-color: white;
  .options {
    @include flex-row-between;
    background-color: #EEEEEE;
    min-height: 100px;
    padding: 0px 20px;
    .InputAddOn-Search {
      display: flex;
      max-width: 300px;
      height: 40px;
      @include input-color;
      input[type=text]:focus {
        border: 1px inset $green1;
        outline: 0 none;
      }
      .search-text-input {
        flex: 1;
        padding: 0.5em 0.75em;
        font-size: 14px;
      }
      @include Search-icon;
    }
  }
  .original-post-wrap {
    @include flex-col;
    margin: 20px;
    border: 1px solid #b7b9bc;
    padding: 20px;
    .subject-wrap {
      @include flex-row-between;
      justify-content: flex-start;
      margin: 20px 0 20px 0;
      .stats {
        @include flex-col;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #EEEEEE;
        margin-right: 20px;
        h2 {
          align-self: center;
          font-size: 20px;
          color: #b7b9bc;
        }
      }
      .author-wrap {
        width: 100px;
        height: 100px;
        background-image: url('http://bestnycacupuncturist.com/wp-content/uploads/2016/11/anonymous-avatar-sm.jpg');
        background-repeat: no-repeat;
        background-size: 100px;
        margin-right: 20px;
      }
    }
  }
}


.footer-wrap {
  background-color: $darkGrey;
  color: white;
  .footer-container-wrap {
    height: 100px;
    max-width: 1000px;
    margin: auto;
    @include flex-row-around;
    }
    .navigation {
      background-color: $darkGrey;
      height: auto;
    }
  }


//Color Divs

.color-wrap {
  width: 1000px;
  min-height: 200px;
  // background-color: red;
  display: flex;
  @include color-divs;
  .box {
    width: 100px;
    height: 100px;
  }
}


@media screen and (max-width: 400px) {
  .content-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header-wrap {
    width: calc(100% - 4em);
  }
}
