//color palette

//solids
$darkGrey: #404040;
$lightGrey: #c1c1c1;
$green1: #168914;
// $darkOrange: #dd2c00;
// $lightOrange: #e65100;


@mixin color-divs {
  #one {
    background-color: $green1;
  }
  #two {
    background-color: $darkGrey;
  }
  #three {
    background-color: $lightGrey;
  }
  #four {
    background-color: #eeeeee; //lightish grey from gradient
  }
  #five {
    background-color: #BDBDBD; //darkish grey from Gradient
  }
  // #six {
  //   background-color:
  // }
  // #seven {
  //   background-color:
  // }
}

//gradients

// $body
