//color palette

//solids
$darkGrey: #404040;
$lightGrey: #c1c1c1;
$green1: #168914;
$yellow: #f9ce0c;
$lightishGrey: #eeeeee;
$blueGrey: #6B8E9D;
$darkBlueGrey: #1A292C;
$lightBlueGrey: #2F4D50;
$red: #FB3F1D;
$border-color: #b7b9bc;
