//color palette

//solids
$darkGrey: #404040;
$lightGrey: #c1c1c1;
$green1: #168914;
$yellow: #f9ce0c;
$lightishGrey: #eeeeee;
$blueGrey: #6B8E9D;
$darkBlueGrey: #1A292C;
$lightBlueGrey: #2F4D50;
// $darkOrange: #dd2c00;
// $lightOrange: #e65100;


@mixin color-divs {
  #one {
    background-color: $green1;
  }
  #two {
    background-color: $darkGrey;
  }
  #three {
    background-color: $lightGrey;
  }
  #four {
    background-color: #eeeeee; //lightish grey from gradient
  }
  #five {
    background-color: #BDBDBD; //darkish grey from Gradient
  }
  #six {
    background-color:#f9ce0c; //yellow
  }
  #seven {
    background-color: #6B8E9D; //blue-grey
  }
  #eight {
    background-color: #1A292C; //dark blue grey
  }
  #nine {
    background-color: #FB3F1D; //red
  }
}

//gradients

// $body
